PORT=5000
MONGO_URI=mongodb://127.0.0.1:27017/x_clone_db

# Cloudinary CDN Credentials (Get free keys from https://cloudinary.com/)
CLOUDINARY_CLOUD_NAME=your_cloudinary_cloud_name
CLOUDINARY_API_KEY=your_cloudinary_api_key
CLOUDINARY_API_SECRET=your_cloudinary_api_secret

# JWT Secret for User Authentication
JWT_SECRET=x_clone_super_secret_jwt_key_2026
